@charset "utf-8";

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Noto Sans JP",
      "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial",
      "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin: 0;
    padding: 0;

    background-image: url(../images/trianglify-export.png);
    background-size: cover;
    background-position: center center;
}


/* .codepen {
    margin-bottom: 50px;
} */

.section {
    max-width: 80%;
    margin: 0 auto;
    gap: 100px;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-title-sub {
    text-align: center;
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* .section-title-point {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ff4500;
    margin-bottom: 20px;
    text-decoration: underline;
} */

.section-button::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/read.png) no-repeat;
    vertical-align: text-bottom;
    background-size: contain;
    margin-right: 8px;
}

.section-description {
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: 1.5px;
    text-align: left;
    margin-bottom: 80px;
}

.section-description-sub {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}

.section-description-ref {
    font-size: 20px;
    text-align: center;
    line-height: 6.5;
    text-decoration: underline;
}

.section-description-ref:hover {
    letter-spacing: 1.5px;
    transform: scale(1.05);
    color: #ff4500;
}

/*************************************** カード *****************************************/

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.wrap {
    display: flex;
}

.card {
    height: 500px;
    margin: 50px;
    box-shadow: 7.5px 12.5px 25px rgba(0, 0, 0, 0.75);
    border-radius: 24px;
    overflow: hidden;
}

img {
    height: 500px;
    width: 400px;
    border-radius: 24px;
    transition: .5s;
}

.intro {
    height: 70px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 0 0 24px 24px;
    position: absolute;
    bottom: -547px;
    /* background: rgba(27, 27, 27, .5); */
    color: #efefef;
    transition: .5s;
}

.intro h1 {
    margin: 10px 0 10px 15px;
    font-size: 28px;
}

.intro p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 220px;
    bottom: -547px;
    /* background: rgba(27, 27, 27, .5); */
}

h1:hover {
    text-decoration: underline;
}

.card:hover p {
    visibility: visible;
    opacity: 1;
}

.card:hover img {
    transform-origin: left;
    transform: scale(1.2);
}

/**************************************** フッター *****************************************/

.footer {
    max-width: 80%;
    margin: 0 auto;
}

.footer-line {
    margin-top: 100px;
    border-color: #000;
}
  
.footer-copy {
    display: block;
    text-align: center;
    padding: 10px;
}


/************************************ トップボタンに戻る ***********************************/
  
.back-to-top {
    background-color: #ff4500;
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    box-shadow: 5px 7px 13.5px 3px rgba(0, 0, 0, 0.35);
    pointer-events: none;
    transition: all 0.4s;
}
  
.back-to-top::before {
    content: "";
    position: absolute;
    left: 19.25px;
    bottom: inherit;
    width: 12px;
    height: 12px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(-45deg);
}
  
.back-to-top.active {
    pointer-events: auto;
    opacity: 1;
}
  
.back-to-top.active:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/************************************ 共通 ***********************************/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}